.wrapper {
    width: 890px;
    margin-top: 40px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    border-radius: 6px;
    border: 1px solid #e5e7eb !important;
    
  }
  .billing .flex{
  /* height: 600px; */
}
  .sidebar {
    border-right: 1px solid #e5e7eb;
    padding: 30px 0 30px 0;min-height: 650px;
  }
  .sidebar a {
    display: block;
    font-size: 17px;
    font-weight: 400;
    color: #6b7280;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .sidebar button {
    line-height: 1.2;
    text-align: left;
    padding: 6px 14px;
    margin-top: 0;
    font-size: 15px;
    font-weight: 400;
    display: block;
    margin-bottom: 0;
    margin-bottom: 9px;
    width: 100%;
  }
  .sidebar button:hover {
    background-color: #f3f4f6;
    border-radius: 5px;
  }
  .sidebar button.active {
    background-color: #f3f4f6;
    border-radius: 5px;
  }
  
  .sidebar button svg {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-top: -3px;
    stroke: #111;
    margin-right: 3px;
  }
  .sidebar h3 {
    color: #6b7280;
    font-weight: 400;
    font-size: 16px;
    margin: 34px 0 15px 16px;
  }
  
  .aside {
    padding: 40px;
  }

  .aside p {
    font-size: 17px;
    margin-bottom: 12px;
    display: inline-block;
}
.aside p a {
  background: #f3f4f6;
  padding: 2px 9px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  margin: 4px 0 0 10px; 
  width: 47px;

}
svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: currentColor;
  fill: transparent !important;
  vertical-align: middle; 
}  
@media only screen and (max-width: 800px) {
.sidebar {
border-right: 1px solid #e5e7eb;
padding: 30px 0 30px 0;
min-height: 100%;
padding: 40px;
}
.aside {
padding: 40px;
}
.wrapper .flex {
display: block;
}
}
@media only screen and (max-width: 900px) {
  .wrapper{width:100%;}

}
