.example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.example-custom-placeholder {
  opacity: 0;
  background-color: red;
}

.toolbar-svg{
  width: 1em;
  height: 1em;
  display: inline-block;
  line-height: 1em;
  flex-shrink: 0;
  vertical-align: middle;
  margin-right: 5px;
}

.cdk-drag-placeholder {
  display: hidden !important;
}

.jtk-hover{
  color: red;
}
.window { z-index:20; }
.jtk-connector { z-index:4; }
.jtk-endpoint { z-index:5; }
.jtk-overlay { z-index:6; }


.jtk-endpoint.jtk-endpoint-anchor-foo.jtk-draggable.jtk-droppable:before {
  background-color: red;
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 99;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 3.2px;
  top: 2px;
}
.jtk-endpoint.jtk-endpoint-anchor-foo.jtk-draggable.jtk-droppable svg circle {
  fill: red !important;
  stroke: yellow;
}
.jtk-endpoint.jtk-endpoint-anchor-foo.jtk-draggable.jtk-droppable svg * {
  fill:red;
  stroke:yellow;
}
.fooColor svg * {
  fill:red;
  stroke:yellow;
}
.fooColor svg circle {
  fill:red;
  stroke:yellow;
}
.jtk-connector-outline{
  display: none;
}
.grag_able{
    position:absolute;
    width:30px;
    height:30px;
    border:1px solid black;
    font-size:12px;
    border-radius:3px;
    text-align:center;
    background-color:WhiteSmoke;
    opacity:0.7;
    z-index:10;
    color:black;
    cursor:move;
}
.grag_able:hover {
  background-color:#629f8d;
}
.group-container {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 12px;
  background-color: WhiteSmoke;
  font-size: 12px;
  cursor:move;
}

.group-container ul {
  margin-left:25px;
  padding: 0;
}

.group-container ul li {
  list-style-type:circle;
  margin-bottom: 7px;
}
.large {
  width:600px;
  height:600px;
}

.group-container.collapsed {
  height:40px;
}

.title {
  background-color:#ABC1BB;
  padding-right:16px;
  font-size:13px;
  height:30px;
}
.jtk-connector path {
  stroke-width:1;
}

.jtk-group-collapsed .w, .jtk-group-collapsed ul, .jtk-group-collapsed .container, .jtk-group-collapsed .name {
  display:none;
}

.jtk-drag-hover {
  outline:4px solid cornflowerblue;
}

.katavorio-ghost-proxy {
  outline:2px solid red;
}
.events {
  position:absolute;
  right:0;
  top:0;
  border-left:4px solid #58775d;
  bottom:0;
  width:156px;
  font-size: 11px;
  padding-left:11px;
  background-color: white;
}

#events {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #58775d;
  bottom: 0;
  width: 256px;
  font-size: 11px;
  padding-left: 11px;
  background-color: white;
}








.connectingConnectorLabel {
  height: 28px;
  width: 140px;
  border-radius: 13px;
  color: #FFFFFF;
  text-align: center;
  left: 49% !important;
  border: 2px solid #9CA3AF;
  background-color: #9CA3AF;
}
.after-circle-custom:after {
  content: "";
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  background: #3b82f6;
  border-radius: 100%;
  right: -5px;
  top: 38%;
}
.custom-bg{
background: radial-gradient(rgb(198, 208, 225) 1px, transparent 0px) -19px 0px / 40px 40px rgb(244, 245, 248);
}
.button-design .w-full.px-2 {
font-size: 14px;
font-weight: 400;
display: flex;
align-items: center;
justify-content: flex-start;
/* padding: 8px 12px 8px; */
border-radius: 0px;
}
.button-design .cdk-drag.hover-shadow{
background-color: #F9FAFB !important;
border-radius: 6px;
border: 1px solid #E5E7EB;
transition: box-shadow 200ms ease 0s;
}
.drap-bg-style {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 12px 8px;
  background-color: #F9FAFB !important;
  border-radius: 6px;
  border: 1px solid #E5E7EB;
}
.wrap-div {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  border-radius: 10px;
  transition: box-shadow 200ms ease 0s;
  cursor: pointer;
}

.custom-shadow {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
  border: 1px solid #E5E7EB;
}
.custom-shadow-icon{
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}

.hover-shadow:hover{
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}
.wrap-div:hover{
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05)  !important;
}
border-gray-900{
 border-color: #E5E7EB !important;
}
.custom-shadow::-webkit-scrollbar {
  width: 0px;
}
@media (min-width: 1925px) and (max-width : 2600px) {
.button-design .w-full.px-2{
  font-size: 17px;
}
.drap-bg-style {
  font-size: 18px;
}

.title-div.pb-4 span {
  font-size: 19px;
}
.sidebar {
  width: 23.5rem;
}
}

.ReceiverContainerChild {
  min-height: 40px;
  background-color: #efefef;
}
.transform1{
  display: flex;
  width: 360px;
  position: absolute;
  left: 0px;
  height: calc(100vh - 56px);
  z-index: 2;
  padding-left: var(--chakra-space-4);
  padding-top: var(--chakra-space-4);
  padding-bottom: var(--chakra-space-4);
  /* transform: translateX(-325px); */
  padding-right: 0;
  top: 80px;
  transition: transform 350ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.transform1:hover{
  transform: translateX(0px) !important;
}
.css-w71llh {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.5rem;
  overflow-y: scroll;
  padding: 10px;

}
.css-1hsy5ug {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  right: -50px;
  width: 50px;
  top: 0px;
}
.css-i6ims5 {
  display: flex;
  width: 5px;
  height: 20px;
  background-color: #9ca3af;
  border-radius: 0.35rem;
}
/* width */
.css-w71llh::-webkit-scrollbar {
  width: 0px;
}
.css-2nd5xf {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: 0.35rem;
  font-weight: 600;
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  height: 2rem;
  min-width: 2rem;
  font-size: 0.875rem;
  padding-inline-start:0.75rem;
  padding-inline-end: 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: #e5e7eb;
  color: inherit;
  padding: 0px;
}
.css-1k8v1e7 {
  width: 1em;
  height: 1em;
  display: inline-block;
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: currentColor;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}




.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
    width: 102px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 10px;
    right: 0px;
    top: 37px;
    z-index: 999 !important;
    height: 28px;
    font-size: 13px;
    font-weight: 400;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}







.tooltip-sec {
  position: relative;
}

.tooltip-sec .tooltiptext-sec {
  visibility: hidden;
  width: 102px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 10px;
  right: 0px;
  top: 37px;
  z-index: 999 !important;
  height: 29px;
  font-size: 13px;
  font-weight: 400;
}

.tooltip-sec:hover .tooltiptext-sec {
  visibility: visible;
}
