<div class="wrapper">
  <div
    class="main"
    cdkDropListGroup
  >
    <div class="example-container box">
      <h2>Fixed Items</h2>
      <div
        cdkDropList
        *ngFor="let groupBlock of structuredBlocks"
        [cdkDropListData]="groupBlock.blocks"
        [cdkDropListSortingDisabled]="true"
        class="example-list"
        id="fixed-list"
        [cdkDropListEnterPredicate]="noReturnPredicate"
      >
        <label class="font-base text-gray-600 font-medium pb-2 pl-1.5">{{ groupBlock.name }}</label>
        <div class="example-box" *ngFor="let block of groupBlock.blocks" cdkDrag>{{block.name}}</div>
      </div>
    </div>

    <div class="example-container box" *ngFor="let b of groupblock" cdkDrag>
      <h2>{{b.name}}</h2>
      <div
        cdkDropList
        [cdkDropListData]="b.blocks"
        class="example-list"
        id="receiving-list"
        (cdkDropListDropped)="drop($event, 'box')">
        <div class="example-box" *ngFor="let item of b.blocks" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container main-container">
      <div
        cdkDropList
        class="example-list"
        (cdkDropListDropped)="drop($event, 'container')">
      </div>
    </div>
  </div>
</div>
