.custom-bg {
    background: radial-gradient(rgb(198, 208, 225) 1px, transparent 0px) -19px 0px / 40px 40px rgb(244, 245, 248);
}

.editor-main-container{
  display: flex;
  overflow: clip;
  height: 100vh;
  flex-direction: column;
}

.wrapper-inner{
    display: flex;
    flex: 1 1 0%;
    position: relative;
}

.sidePanel{
  display: flex;
  width: 360px;
  position: absolute;
  left: 0px;
  height: 100%;
  z-index: 20;
  padding-right: 0;
  transition: transform 350ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.sidePanel:hover {
    transform: translateX(0px) !important;
    transition: transform 350ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.sidePanel{
    transition: transform 350ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.sidePanel .sidebar::-webkit-scrollbar {
  display: none;
}

.sidePanelHoverMain{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 50px;
    right: -20px;
    top: 0px;
}

.sidePanelHoverThumb{
    display: flex;
    width: 5px;
    height: 20px;
    background-color: #9ca3af;
    border-radius: 0.35rem;
}

.rightSide{
  width: 100%;
  float: left;
}

.tooltip-sec {
    position: relative;
}

.tooltip-sec  .tooltiptext-sec{
    visibility: hidden;
    width: 102px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 10px;
    right: 0px;
    top: 37px;
    z-index: 999 !important;
    height: 29px;
    font-size: 12px;
    font-weight: 400;
}

.tooltip-sec:hover   .tooltiptext-sec {
    visibility: visible;
}


.groups-wrapper{
    display: flex;
    flex: 1 1 0%;
    transform-origin: 0px 0px 0px;
    width: 100%;
    height: 100vh;
    position: relative;
    top: -48px;
    /* z-index: 1; */
}

.wrap-div {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  border-radius: 10px;
  transition: box-shadow 200ms ease 0s;
  cursor: pointer;
  transform: none !important;
}

.dragAbleBox {
  min-height: 60px;
}

.recieveDragedBox {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: block;
  left: 0;
  top: 0;
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

::ng-deep body .jtk-endpoint:first-child ::ng-deep .jtk-endpoint:after{ display: none; }

::ng-deep .jtk-endpoint {
  z-index:5;
  cursor: pointer;
}

::ng-deep .source-endpoint {
  border-radius: 100%;
  background: #f4f5f8;
}

::ng-deep .source-endpoint circle{
  stroke-width: 4px;
  stroke:#7ea6ff;
}

::ng-deep .jtk-connector {
  z-index:1;
}

::ng-deep  .jtk-hover{
  cursor: pointer;
}

::ng-deep svg.endpointOnTarget circle{
  fill: transparent;
}

::ng-deep svg.jtk-floating-endpoint circle{
  fill: transparent;
}

.single-block.selected .single-block-placeholder {
  outline: 2px solid #1a5fff;
}

.grouper.selected{
  outline: 2px solid #1a5fff;
  border-radius: 10px;
}

::ng-deep svg.selected path {
  stroke: #1a5fff !important;
}

.grouper.jtk-drag-hover {
  outline: 2px solid #1a5fff;
  border-radius: 10px;
}

.single-block.jtk-drag-hover .single-block-placeholder {
  outline: 2px solid #1a5fff;
  border-radius: 10px;
}

svg.endpointOnTarget.grouper.jtk-endpoint.jtk-endpoint-connected {
    margin-left: -8px;
}

.drawing {
  /* position: relative;
  width: 100%;
  height: 100%; */
}

.dragAbleBox .draggable-custom-placeholder {
  background: rgb(201, 201, 201);
  border: 1px solid rgb(201, 201, 201);
  min-height: 40px;
  width: 100%;
  max-width: 255px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 16px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}


::ng-deep .input-popover {
  z-index: 999999;
}
