<div class="flex flex-col h-screen bg-slate-400 custom-bg">
  <header-bar></header-bar>

  <div *ngIf="addArray==false" class="flex flex-row w-full h-full">

    <div cdkDropListGroup class="list-group">
      <!-- GroupStructuredBlock[] - begins  -->
      <div class="transform1 relative" [ngStyle]="{'transform':sidePanel === false ? 'translateX(0px)': 'translateX(-325px)'}">
        <div class="flex flex-col w-80  left-4  z-10 bg-white p-3 rounded-lg custom-shadow  sidebar" [ngStyle]="{'height':'calc(100vh - 120px)'}">
          <!-- [cdkDropListConnectedTo]="['ReceiverContainer']" -->
          <div class="chakra-stack hide-scrollbar css-w71llh">
            <div
              cdkDropList
              *ngFor="let structuredBlock of structuredBlocks"
              [id]="structuredBlock.uuid"
              [cdkDropListData]="structuredBlock.blocks"
              (cdkDropListDropped)="drop($event,'Originator')"

              [cdkDropListSortingDisabled]="true"
            >
              <div class="pb-5">
                <label class="font-base text-gray-600 font-medium pb-2 pl-1.5">{{ structuredBlock.name }}</label>
                <div class=" flex flex-wrap">
                  <!-- StructuredBlock[] -begins -->
                  <div class="w-2/4 px-1.5 py-1.5 button-design" *ngFor="let block of structuredBlock.blocks">
                    <div class="bg-slate-100   hover-shadow w-42 h-10 rounded-lg">
                      <div class=" bg-white  border border-slate-300 hover-shadow w-42 py-2 px-3 h-10 rounded-lg" cdkDrag (cdkDragStarted)="cdkDragStarted($event)" [cdkDragFreeDragPosition]="{x:block.position.x,y:block.position.y}" [id]="block.id">
                        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                        <div class="w-full text-sm px-2">
                          <img [src]="block.svg" class="toolbar-svg"/>
                          {{block.name}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- StructuredBlock[] -ends -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- GroupStructuredBlock[] - ends  -->

      <!--ReceiverContainer:<RenderedBlock> - begins -->
      <!-- [cdkDropListConnectedTo]="structuredBlocksConnector()" -->
      <div
        id="ReceiverContainer"
        class="relative pl-64 w-full"
      >
        <div
          cdkDropList
          [cdkDropListData]="groupRenderedBlocks"
          class="example-list"
          (cdkDropListDropped)="drop($event,'Receiver')"
          [cdkDropListSortingDisabled]="true"
        >
          <div
            class="right-box"
            *ngFor="let group of groupRenderedBlocks"
            [style]="('top:'+group.position.y+'px;left:'+group.position.x+'px')"
            [id]="group.id"
            cdkDrag
          >
            <div class="wrap-div w-72 bg-white p-4">
              <div class="title-div pb-4 flex items-center justify-between">
                <span class="font-sm font-normal ">{{group.name}}</span>
              </div>
              <div
                cdkDropList
                [cdkDropListData]="group.blocks"
                (cdkDropListDropped)="drop($event,'ReceiverOriginator')"
                [cdkDropListConnectedTo]="allReceiverOriginatorBlocksConnector()"
                class=" min-h-24 ReceiverContainerChild p-2 rounded-lg"
                [id]="(group.name == 'Start' ? '0' : group.uuid)"
              >
                <div
                  cdkDrag
                  [cdkDragDisabled]="block.id === 0"
                  (cdkDragStarted)="cdkDragStarted($event)"
                  *ngFor="let block of group.blocks"
                  class="p-4 bg-slate-100 relative drap-bg-style my-1"
                  [id]="block.id"
                >
                  <div class="w-full px-2">
                    {{block.name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-container">
          <div
            cdkDropList
            [cdkDropListData]="groupRenderedBlocks"
            class="example-list"
            (cdkDropListDropped)="drop($event, 'Receiver')">
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
