<div id="InputToggle" *ngIf="senderView === true" class="flex items-end w-full bg-white rounded-lg shadow-lg">
  <input aria-invalid="" type="number" (keyup.enter)="InputView($event)" (keyup)="changeInputEvent($event)"
    id="quantity" name="quantity" class="flex-1 w-full p-4 bg-transparent focus:outline-none text-input2"
    [min]="minValue" [step]="stepValue" [max]="maxValue" [placeholder]="placeHolderText" value="" />
  <button id="changeNumberInputEventBtn" (click)="clickInputView($event)"
    class="bg-[#0042DA] py-2 px-4 justify-center font-semibold rounded-md text-white focus:outline-none flex items-center disabled:opacity-50 disabled:cursor-not-allowed disabled:brightness-100 transition-all filter hover:brightness-90 active:brightness-75 my-2 ml-2 mr-2"
    disabled>
    {{btnText}}
  </button>
</div>
<div (click)="hideInputUserView()" *ngIf="senderView === false"
  class="flex items-center justify-end w-full gap-2 receiver-view">
  <span
    class="bg-[#FF8E21] px-4 py-2 rounded-lg mr-2 whitespace-pre-wrap max-w-full cursor-pointer text-white">{{receiverText}}</span>
  <figure *ngIf="false" class="relative flex items-center flex-shrink-0 w-9 h-9 "><img
      class="w-full h-full rounded-full" src="./../../../assets/ViewChat/profile.png" alt=""></figure>
</div>
