.custom-bg {
    background: radial-gradient(rgb(198, 208, 225) 1px, transparent 0px) -19px 0px / 40px 40px rgb(244, 245, 248);
}

.editor-main-container{
  display: flex;
  overflow: clip;
  height: 100vh;
  flex-direction: column;
}

.wrapper-inner{
    display: flex;
    flex: 1 1 0%;
    position: relative;
}

.rightSide{
  width: 100%;
  float: left;
}

.groups-wrapper{
    display: flex;
    flex: 1 1 0%;
    transform-origin: 0px 0px 0px;
    width: 100%;
    height: 100vh;
    position: relative;
    top: -48px;
    /* z-index: 1; */
}

.wrap-div {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  border-radius: 10px;
  transition: box-shadow 200ms ease 0s;
  cursor: pointer;
  transform: none !important;
}

.dragAbleBox {
  min-height: 60px;
}

.recieveDragedBox {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: block;
  left: 0;
  top: 0;
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

::ng-deep body .jtk-endpoint:first-child ::ng-deep .jtk-endpoint:after{ display: none; }

::ng-deep .jtk-endpoint {
  z-index:5;
  cursor: copy;
}

::ng-deep .source-endpoint {
  border-radius: 100%;
  background: #f4f5f8;
}

::ng-deep .source-endpoint circle{
  stroke-width: 4px;
  stroke:#7ea6ff;
}

::ng-deep .jtk-connector {
  z-index:1;
}

::ng-deep svg.jtk-dragging path{
  stroke: #1a5fff !important;
}

::ng-deep svg.jtk-dragging path:nth-child(2){
  fill: #1a5fff !important;
}

::ng-deep  .jtk-hover{
  cursor: pointer;
}

::ng-deep svg.endpointOnTarget circle{
  fill: transparent;
}

::ng-deep svg.jtk-floating-endpoint circle{
  fill: transparent;
}

::ng-deep .jtk-connector:not(.selected) path {
  stroke: #9CA3AF;
}

::ng-deep .jtk-connector:not(.selected) path:nth-child(2) {
  fill: #9CA3AF;
}

::ng-deep .jtk-hover path {
  stroke: #1a5fff !important;
}

::ng-deep .jtk-hover path:nth-child(2) {
  fill: #1a5fff !important;
}

::ng-deep .jtk-connector.selected path:nth-child(2) {
  fill: #1a5fff;
}

.grouper{
  border-radius: 10px;
}

.grouper.selected{
  outline: 2px solid #1a5fff;
  border-radius: 10px;
}

::ng-deep svg.selected path {
  stroke: #1a5fff !important;
}

.grouper.jtk-drag-hover {
  outline: 2px solid #1a5fff;
  border-radius: 10px;
}

svg.endpointOnTarget.grouper.jtk-endpoint.jtk-endpoint-connected {
    margin-left: -8px;
}

.drawing {
  /* position: relative;
  width: 100%;
  height: 100%; */
}

.dragAbleBox .draggable-custom-placeholder {
  background: rgb(201, 201, 201);
  border: 1px solid rgb(201, 201, 201);
  min-height: 40px;
  width: 100%;
  max-width: 255px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 16px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}


::ng-deep .input-popover {
  z-index: 10;
}

::ng-deep .input-popover .popover-body{
  transform: translate(15px, 0px);
}

::ng-deep .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;;
  background-color: #000;
}

::ng-deep .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.image-field{
  width: 36rem;
  overflow-y: auto;
}

.video-field{
  width: 25rem;
  overflow-y: auto;
}

.embed-field{
  width: 25rem;
  overflow-y: auto;
}

::ng-deep .file_input-field .input-field {
    display: block;
}

.custom-modal-main .custom-scrollbar {
    height: 100%;
    max-height: 100%;
}

.grouper.popover-outline-style {
  outline: 2px solid #1a5fff
}
::ng-deep .single-block.popover-outline-style .single-block-placeholder{
  outline: 2px solid #1a5fff;
}

::ng-deep .css-muvlrb .typebot-chat-view .file-uploader-main {
    display: none;
}
