.active{
    border: 1px solid #0036b4;
    color: #0036b4;
}

.h-left svg {
    width: 25px;
     height: 25px;
     display: inline-block;
     line-height: 1em;
     -webkit-flex-shrink: 0;
     -ms-flex-negative: 0;
     flex-shrink: 0;
     color: currentColor;
     vertical-align: middle;
     fill: none;
     stroke: currentColor;
   }
   .rg-btn a {
    opacity: 0.4;
    cursor: not-allowed;
}
.ceb-nav button {
    margin-left: 13px !important;
}

@media (min-width: 1925px) and (max-width : 2600px) {
.header .text-base {
    font-size: 1.3rem;
    line-height: 1rem;
}
.header .lg-s{
    font-size: 1.2rem;
}
.header span.text-sm {
    font-size: 1.1rem;
}
.header .r-btn a, .header .r-btn button {
    padding: 18px 16px;
}

}