.small-container{width:400px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;

}

.sign-up-btn { 
 
    border-radius: 4px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    line-height: 1.2;
    border: 1px solid #e5e7eb;
    text-align: center;
    padding: 9px 0;
    width: 330px;
    margin-top: 0.5rem;

}
.sign-up-btn:hover {
    background: #f3f4f6;
}

.sign-up-btn span {padding-right: 8px;display: inline-block;position: relative;top: -2px;}
svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: currentColor;
    vertical-align: middle;
}

.sign-in h2 {font-size: 33px;font-weight: 700;text-align: center;}

.sign-in {text-align: center;}

.sign-in p {margin: 6px 0;font-size: 17px;}

.sign-in p a {color:#0042da; text-decoration:underline;} 
.email-field {
    margin-top: 15px;
}
.email-title::before {content: "";width: 83px;height: 1px;background: #e5e7eb;position: absolute;left: 32px;top: 50%;}
.email-title::after {content: "";width: 83px;height: 1px;background: #e5e7eb;position: absolute;right: 32px;top: 55%;}

.email-title {position: relative;width: 100%;color: #111;font-size: 16px;font-weight: 400;margin: 15px 0 0;display: block;}
.email-field .text-box {width: 249px;
    height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    margin-right: 19px;}

.email-field .e-sub {background: #f3f4f6;width: 72px;padding: 6px 0;height: 40px;border-radius: 5px;font-size: 16px;font-weight: 600;}
.email-field .e-sub:focus{border: 3px solid ;
    border-color: rgb(59 130 246 / 0.5); }
  