::ng-deep .single-block.selected .single-block-placeholder {
  outline: 2px solid #1a5fff;
}

::ng-deep .single-block.jtk-drag-hover .single-block-placeholder {
  outline: 2px solid #1a5fff;
  border-radius: 10px;
}

.is-long{
  height: 100px;
}

.add-icon{
  opacity: 0;
  transition: all ease-in-out 0.3ms;
}

.choice-input:hover .add-icon{
  opacity: 1;
  transition: all ease-in-out 0.3ms;
}


.tp-endpoint {
    position: absolute;
    right: 0px;
    left: auto;
    height: 25px;
    width: 15px;
    border-radius: 100%;
}

.choice-input {
    position: relative;
}

.choice-input .tp-endpoint {
    right: -35px;
    top: 15px;
}

.default-button{
  position: relative;
}

.default-button .tp-endpoint {
    top: 15px;
    right: -35px;
}
