<div class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 w-96">

        <p (click)="isUpload = true ; isEmbed = false ; isGiph = false " class="mr-2" aria-current="page" class="inline-block px-4 py-2 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500">Upload</p>

        <p (click)="isEmbed = true ; isUpload = false ; isGiph = false " class="inline-block px-4 py-2 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">Embed link</p>

        <p (click)="isGiph = true ; isEmbed = false ; isUpload = false " class="inline-block px-4 py-2 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">Giphy</p>

</div>

<div class="w-full mt-4" *ngIf="isUpload">
  <div class="relative w-fit mx-auto">
    <input type="file" class="w-full absolute inset-0 opacity-0"/>
    <span class="bg-blue-600 text-white rounded-lg px-3 py-2">Choose an image</span>
  </div>
</div>

<div class="" *ngIf="isEmbed">
  <div class="flex items-center">
    <input type="text" [placeholder]="data.placeholder ? data.placeholder : ''" class="block w-full h-10 p-2 text-sm text-gray-700 border border-gray-300 rounded-lg bg-gray-50
      placeholder:text-gray-700 placeholder:font-normal placeholder:text-base
      focus:outline-[#7ea6ff] focus:shadow-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
      dark:text-white " [value]="data.value" (blur)="eventHandler($event)">
  </div>
</div>

<div class="" *ngIf="isGiph">
  <input type="file"/>
  <span>Upload image</span>
</div>
