.wrapper{width: 890px;
    margin-top: 40px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    border-radius: 6px;
    border: 1px solid #e5e7eb !important;
} 
    .sidebar {
        border-right: 1px solid #e5e7eb;
        padding: 30px 0 30px 0; 
        min-height: 650px;
    }
.sidebar a {display: block;font-size: 17px;font-weight: 400;color: #6b7280;    margin-bottom: 15px; margin-left: 15px;}
.sidebar button{
    line-height: 1.2;
    text-align: left;
    padding:6px 14px;
    margin-top: 0;
    font-size: 15px;
    font-weight: 400;
    display: block;
    margin-bottom: 0;
    margin-bottom: 9px;
    width: 100%; 
    
}
.sidebar button:hover{background-color: #f3f4f6; border-radius: 5px;}
.sidebar button.active{ background-color: #f3f4f6; border-radius: 5px;}

.sidebar button svg {    display: inline-block;
    width: 15px;
    height: 15px;
    margin-top: -3px;
    stroke: #111;
    margin-right: 3px;}
    .sidebar h3 {color: #6b7280;font-weight: 400;font-size: 16px;margin: 34px 0 15px 16px; }
    
	.aside {
        padding: 40px;
    }
  
  
    .profile img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 9999px;
        float: left;
        margin-top: 7px;
}
    
    .file-upload {
        padding-top: 0 !important;
        padding: 0 7px;
        font-size: 14px;
        border-radius: 5px;
        margin-left: 13px;
        float: left;
        margin-top: 0;
    }
    
        .profile h5 {
            text-align: left;
            font-size: 14px;
            font-weight: 500;
        }
        .file-upload svg {display: inline-block;stroke: #000;margin-right: 4px;margin-top: -2px;}



.field-box {
    margin-bottom: 23px;
}
.field-box label {display: block;
    font-weight: 500;
    margin-bottom: 7px;
    color: #111;
    font-size: 15px;}

.field-box input {width: 100%;height: 40px;border: 1px solid #e5e7eb;border-radius: 4px;padding: 0 8px;line-height: 18px;font-size: 15px;}

.tokken input {width: 90% !important;border: none !important;}
input#email {
    opacity: 0.4;
    cursor: not-allowed;
}
.tokken {border: 1px solid #e5e7eb;
    border-radius: 4px;}

.tokken input:focus {outline: none;}

.tokken button {background: #f3f4f6;font-size: 12px;font-weight: 500;padding: 2px 7px;border-radius: 5px;letter-spacing: 0.5px;color: #111;position: relative;top: -1px;}


.p-col{border: 1px solid #e5e7eb;     border-radius: 5px;
padding: 1.5rem;}
.p-col svg {width: 35px;
height: 35px;
display: block;
line-height: 1em;
flex-shrink: 0;
color: currentcolor;
vertical-align: middle;
fill: none;
stroke: currentcolor;
margin: 0 auto 19px;
    border-radius: 5px;
}


.p-col h4 {font-weight: 500;font-size: 17px;margin-bottom: 6px;}

.p-col p {margin-bottom: 12px;}

.p-col .r-btn {display: block;margin: 0 auto;}

.m-info {background: #e0edff;border-radius: 6px;padding: 20px;}

.m-info {display: flex;justify-content: space-between;align-items: center;}

.m-info P {PADDING: 0 35px;}

.m-info button {width: 169px;background: #0042da;color: #ffffff;border-radius: 6px;padding: 7px 0;font-size: 14px;font-weight: 500;} 
.profile {     width: 307px;
    margin-bottom: 29px;
    margin-top: 40px !important;
 }
    .profile a {text-align: left; 
        font-size: 14px;}
        .profile h5 {text-align: left; 
            font-size: 14px;}
  
    .p-info button {background: #e5e7eb;display: block;padding: 2px 9px;border-radius: 5px;font-size: 14px;font-weight: 500;float: right;margin: 4px 0 0;}

    .field-box {
        margin-bottom: 23px;
    }
    .field-box label {display: block;
        font-weight: 500;
        margin-bottom: 7px;
        color: #111;
        font-size: 15px;}
    
    .field-box input {width: 100%;height: 40px;border: 1px solid #e5e7eb;border-radius: 4px;padding: 0 8px;line-height: 18px;font-size: 15px;}
   
    input#email {
        width: 85%;
    }
 
    input#email disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
    input.sub-btn {background: #0042da;width: 75px !important;float: right;opacity: 0.4;
        cursor: not-allowed;
        color: #fff;}
        input.sub-btn disabled{opacity: 0.4;
            cursor: not-allowed;
          }
          svg {
            width: 1em;
            height: 1em;
            display: inline-block;
            line-height: 1em;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            color: currentColor;
            fill: transparent !important;
            vertical-align: middle; 
          }  
          @media only screen and (max-width: 800px) {
          .sidebar {
          border-right: 1px solid #e5e7eb;
          padding: 30px 0 30px 0;
          min-height: 100%;
          padding: 40px;
        }
        .aside {
          padding: 40px;
        }
        .wrapper .flex {
          display: block;
        }
          
          @media only screen and (max-width: 900px) {
            .wrapper{width:100%;}
        
        }