<div (click)="closeModal()" class="modal-background"></div>
<div class="custom-modal-main">
  <div
    class="px-6 py-4 bg-white border rounded-lg shadow w-[28rem] max-h-[400px] overflow-x-hidden overflow-y-scroll relative custom-scrollbar z-50 mx-auto">
    <div (click)="closeModal()" aria-label="Close" class="p-2 hover:bg-gray-100 w-fit ml-auto rounded-lg text-gray-700 cursor-pointer">
      <svg viewBox="0 0 24 24" focusable="false" class="w-3 h-3" aria-hidden="true"><path fill="currentColor" d="M.439,21.44a1.5,1.5,0,0,0,2.122,2.121L11.823,14.3a.25.25,0,0,1,.354,0l9.262,9.263a1.5,1.5,0,1,0,2.122-2.121L14.3,12.177a.25.25,0,0,1,0-.354l9.263-9.262A1.5,1.5,0,0,0,21.439.44L12.177,9.7a.25.25,0,0,1-.354,0L2.561.44A1.5,1.5,0,0,0,.439,2.561L9.7,11.823a.25.25,0,0,1,0,.354Z"></path>
      </svg>
    </div>
    <div class="absolute top-0 flex items-center justify-center h-full -right-7">
      <div class="inline-block w-3 overflow-hidden">
        <div class="h-8 origin-top-left transform rotate-45 bg-white border shadow "></div>
      </div>
    </div>
    <div class="custom-modal-content">
      <app-editor-fields (updatedBlock)="passBack($event)"></app-editor-fields>
    </div>
  </div>
</div>
<!--  -->
