<div class="flex flex-col items-center w-full h-screen text-base bg-cover">
  <div class="flex justify-center w-full h-full">
    <div class="absolute w-full min-h-full px-3 pt-10 mb-10 rounded lg:w-3/4 lg:px-5">
      <div class="flex items-end gap-2">
        <div id="flex-image" class="relative flex items-center flex-shrink-0 mb-4 w-9 h-9 typebot-avatar-container">
          <img class="w-full h-full rounded-full" src="./../../../assets/ViewChat/profile.png" alt="">
        </div>
        <div id="flex-col" class="flex-col">
          <div *ngFor="let group of newArray; let groupIndex = index" [attr.data-group-name]="group.name">
            <div *ngFor="let block of group.blocks; let blockIndex = index" class="">
              <div *ngIf="block?.type !== 'start'" class="flex items-end gap-2 mb-3">
                <div *ngIf="block?.type === 'text'" class="p-4 rounded-lg bg-gray-50" [innerHTML]="block.content.html">
                </div>
                <div *ngIf="block?.type === 'image'" class="w-full p-4 rounded-lg bg-gray-50">
                  <img alt="Group Image" class="object-cover w-full h-full " [src]="block.content.url">
                </div>
                <div *ngIf="block?.type === 'video'" class="p-4 rounded-lg bg-gray-50 w-80">
                  <iframe [src]="block.content?.id | safe" class="object-cover" allowfullscreen
                    style="width: 100%; height: 100%;">
                  </iframe>
                </div>
                <div *ngIf="block?.type === 'embed'" class="p-4 rounded-lg bg-gray-50"
                  [innerHTML]="block?.content.url | html">
                </div>
                <div *ngIf="block?.type === 'text_input'" class="w-full text-input-main">
                  <div id="textInputToggle" *ngIf="senderTextView === true"
                    class="flex items-end w-full bg-white rounded-lg shadow-lg">
                    <textarea (keyup.enter)="textInputView()" (keyup)="changeTextInputEvent($event)" cols="0" rows="6"
                      *ngIf="block.options.isLong === true" [placeholder]="block.options.labels.placeholder"
                      class="w-full p-4 outline-none"></textarea>
                    <input (keyup.enter)="textInputView()" (keyup)="changeTextInputEvent($event)"
                      class="flex-1 w-full p-4 bg-transparent focus:outline-none text-input"
                      *ngIf="block.options.isLong === false" [placeholder]="block.options.labels.placeholder" />
                    <button (click)="textInputView()" id="changeTextInputEventBtn"
                      class="bg-[#0042DA] py-2 px-4 justify-center font-semibold rounded-md text-white focus:outline-none flex items-center disabled:opacity-50 disabled:cursor-not-allowed disabled:brightness-100 transition-all filter hover:brightness-90 active:brightness-75 my-2 ml-2 mr-2"
                      disabled>
                      {{block.options.labels.button}}
                    </button>
                  </div>
                  <div (click)="hideTextInputUserView()" *ngIf="receiverTextView === true"
                    class="flex items-center justify-end w-full gap-2 receiver-view">
                    <span
                      class="bg-[#FF8E21] px-4 py-2 rounded-lg mr-2 whitespace-pre-wrap max-w-full cursor-pointer text-white">{{receiverText}}</span>
                    <figure class="relative flex items-center flex-shrink-0 w-9 h-9 "><img
                        class="w-full h-full rounded-full" src="./../../../assets/ViewChat/profile.png" alt=""></figure>
                  </div>
                </div>
                <div *ngIf="block?.type === 'number_input'" class="w-full number-input-main">
                  <div id="textInputToggle" *ngIf="senderNumberView === true"
                    class="flex items-end w-full bg-white rounded-lg shadow-lg">
                    <input aria-invalid="" type="number" (keyup.enter)="numberInputView($event)"
                      (keyup)="changeNumberInputEvent($event)" (blur)="setNumberInputValue($event)" id="quantity"
                      name="quantity" class="flex-1 w-full p-4 bg-transparent focus:outline-none text-input2"
                      [min]="block.options.min" [step]="block.options.step" [max]="block.options.max"
                      [placeholder]="block.options.labels.placeholder" value="" />
                    <button id="changeNumberInputEventBtn" (click)="numberInputView($event)"
                      class="bg-[#0042DA] py-2 px-4 justify-center font-semibold rounded-md text-white focus:outline-none flex items-center disabled:opacity-50 disabled:cursor-not-allowed disabled:brightness-100 transition-all filter hover:brightness-90 active:brightness-75 my-2 ml-2 mr-2"
                      disabled>
                      {{block.options.labels.button}}
                    </button>
                  </div>
                  <div (click)="hideNumberInputUserView()" *ngIf="receiverNumberView === true"
                    class="flex items-center justify-end w-full gap-2 receiver-view">
                    <span
                      class="bg-[#FF8E21] px-4 py-2 rounded-lg mr-2 whitespace-pre-wrap max-w-full cursor-pointer text-white">{{receiveNumberText}}</span>
                    <figure class="relative flex items-center flex-shrink-0 w-9 h-9 "><img
                        class="w-full h-full rounded-full" src="./../../../assets/ViewChat/profile.png" alt=""></figure>
                  </div>
                </div>
                <div *ngIf="block?.type === 'email_input'" class="w-full email-input-main">
                  <div id="emailInputToggle" *ngIf="senderEmailView === true"
                    class="flex items-end w-full bg-white rounded-lg shadow-lg">
                    <input type="email" (keyup.enter)="emailInputView($event)" (keyup)="changeEmailInputEvent($event)"
                      id="email" name="email" class="flex-1 w-full p-4 bg-transparent focus:outline-none"
                      autocomplete="email" [placeholder]="block.options.labels.placeholder" value="" />
                    <button type="button" (click)="emailInputView($event)" id="changeEmailInputEventBtn"
                      class="bg-[#0042DA] py-2 px-4 justify-center font-semibold rounded-md text-white focus:outline-none flex items-center disabled:opacity-50 disabled:cursor-not-allowed disabled:brightness-100 transition-all filter hover:brightness-90 active:brightness-75 my-2 ml-2 mr-2"
                      disabled>
                      {{block.options.labels.button}}
                    </button>
                  </div>
                  <div (click)="hideEmailInputUserView()" *ngIf="receiverEmailView === true"
                    class="flex items-center justify-end w-full gap-2 receiver-view">
                    <span
                      class="bg-[#FF8E21] px-4 py-2 rounded-lg mr-2 whitespace-pre-wrap max-w-full cursor-pointer text-white">{{receiveEmailText}}</span>
                    <figure class="relative flex items-center flex-shrink-0 w-9 h-9 "><img
                        class="w-full h-full rounded-full" src="./../../../assets/ViewChat/profile.png" alt=""></figure>
                  </div>
                </div>
                <div *ngIf="block?.type === 'url_input'" class="w-full URL-input-main">
                  <div id="URLInputToggle" *ngIf="senderURLView === true"
                    class="flex items-end w-full bg-white rounded-lg shadow-lg">
                    <input type="url" (keyup.enter)="URLInputView($event)" (keyup)="changeURLInputEvent($event)"
                      id="URL" name="URL" class="flex-1 w-full p-4 bg-transparent focus:outline-none" autocomplete="URL"
                      [placeholder]="block.options.labels.placeholder" value="" />
                    <button type="button" (click)="URLInputView($event)" id="changeURLInputEventBtn"
                      class="bg-[#0042DA] py-2 px-4 justify-center font-semibold rounded-md text-white focus:outline-none flex items-center disabled:opacity-50 disabled:cursor-not-allowed disabled:brightness-100 transition-all filter hover:brightness-90 active:brightness-75 my-2 ml-2 mr-2"
                      disabled>
                      {{block.options.labels.button}}
                    </button>
                  </div>
                  <div (click)="hideURLInputUserView()" *ngIf="receiverURLView === true"
                    class="flex items-center justify-end w-full gap-2 receiver-view">
                    <span
                      class="bg-[#FF8E21] px-4 py-2 rounded-lg mr-2 whitespace-pre-wrap max-w-full cursor-pointer text-white">{{receiveURLText}}</span>
                    <figure class="relative flex items-center flex-shrink-0 w-9 h-9 "><img
                        class="w-full h-full rounded-full" src="./../../../assets/ViewChat/profile.png" alt=""></figure>
                  </div>
                </div>
                <div *ngIf="block?.type === 'date_input'" class="w-full date-input-main">
                  <div id="URLInputToggle" *ngIf="senderDateView === true && block.options.isRange === false"
                    class="flex items-end w-full bg-white rounded-lg shadow-lg">
                    <input type="{{block.options.hasTime? 'datetime-local' :'date'}}"
                      (keyup.enter)="DateInputView($event)" (cuechange)="changeDateInputEvent($event)" id="Date"
                      name="Date" class="flex-1 w-full p-4 bg-transparent focus:outline-none" autocomplete="Date"
                      [placeholder]="block.options.labels.placeholder" value="" />
                    <button type="button" (click)="DateInputView($event)" id="changeDateInputEventBtn"
                      class="bg-[#0042DA] py-2 px-4 justify-center font-semibold rounded-md text-white focus:outline-none flex items-center disabled:opacity-50 disabled:cursor-not-allowed disabled:brightness-100 transition-all filter hover:brightness-90 active:brightness-75 my-2 ml-2 mr-2"
                      disabled>
                      {{block.options.labels.button}}
                    </button>
                  </div>
                  <div id="URLInputToggle" *ngIf="senderDateView === true && block.options.isRange === true"
                    class="flex items-end w-full bg-white rounded-lg shadow-lg">
                    <div class="p-4">
                      <div class="flex items-center gap-1 mb-2">
                        <label class="font-bold" [for]="block.options.labels.from">{{block.options.labels.from}}</label>
                        <input type="{{block.options.hasTime? 'datetime-local' :'date'}}"
                          (keyup.enter)="DateInputView($event)" (change)="changeDateInputEvent($event)" id="Date"
                          name="Date" class="flex-1 w-full bg-transparent focus:outline-none" autocomplete="Date"
                          [placeholder]="block.options.labels.placeholder" value="" />
                      </div>
                      <div class="flex items-center gap-1 mt-2">
                        <label class="font-bold" [for]="block.options.labels.to">{{block.options.labels.to}}</label>
                        <input type="{{block.options.hasTime? 'datetime-local' :'date'}}"
                          (keyup.enter)="DateInputView($event)" (change)="changeDateInputEvent($event)" id="Date"
                          name="Date" class="flex-1 w-full bg-transparent focus:outline-none" autocomplete="Date"
                          [placeholder]="block.options.labels.placeholder" value="" />
                      </div>
                    </div>
                    <button type="button" (click)="DateInputView($event)" id="changeDateInputEventBtn"
                      class="bg-[#0042DA] py-2 px-4 justify-center font-semibold rounded-md text-white focus:outline-none flex items-center disabled:opacity-50 disabled:cursor-not-allowed disabled:brightness-100 transition-all filter hover:brightness-90 active:brightness-75 my-2 ml-2 mr-2"
                      disabled>
                      {{block.options.labels.button}}
                    </button>
                  </div>
                  <div (click)="hideDateInputUserView()" *ngIf="receiverDateView === true"
                    class="flex items-center justify-end w-full gap-2 receiver-view">
                    <span
                      class="bg-[#FF8E21] px-4 py-2 rounded-lg mr-2 whitespace-pre-wrap max-w-full cursor-pointer text-white">{{receiveDateText}}</span>
                    <figure class="relative flex items-center flex-shrink-0 w-9 h-9 "><img
                        class="w-full h-full rounded-full" src="./../../../assets/ViewChat/profile.png" alt=""></figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="typebot-chat-view">
        <section *ngIf="loader">
          <div class="loading loading04">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                id="Capa_1" x="0px" y="0px" viewBox="0 0 31.955 31.955" style="enable-background:new 0 0 31.955 31.955;"
                xml:space="preserve">
                <g>
                  <path style="fill:#bababa;"
                    d="M27.25,4.655C20.996-1.571,10.88-1.546,4.656,4.706C-1.571,10.96-1.548,21.076,4.705,27.3   c6.256,6.226,16.374,6.203,22.597-0.051C33.526,20.995,33.505,10.878,27.25,4.655z" />
                  <path style="fill:#bababa;"
                    d="M13.288,23.896l-1.768,5.207c2.567,0.829,5.331,0.886,7.926,0.17l-0.665-5.416   C17.01,24.487,15.067,24.5,13.288,23.896z M8.12,13.122l-5.645-0.859c-0.741,2.666-0.666,5.514,0.225,8.143l5.491-1.375   C7.452,17.138,7.426,15.029,8.12,13.122z M28.763,11.333l-4.965,1.675c0.798,2.106,0.716,4.468-0.247,6.522l5.351,0.672   C29.827,17.319,29.78,14.193,28.763,11.333z M11.394,2.883l1.018,5.528c2.027-0.954,4.356-1.05,6.442-0.288l1.583-5.137   C17.523,1.94,14.328,1.906,11.394,2.883z" />
                  <circle style="fill:#bababa;" cx="15.979" cy="15.977" r="6.117" />
                </g>
              </svg>
            </span>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                id="Capa_1" x="0px" y="0px" viewBox="0 0 31.955 31.955" style="enable-background:new 0 0 31.955 31.955;"
                xml:space="preserve">
                <g>
                  <path style="fill:#bababa;"
                    d="M27.25,4.655C20.996-1.571,10.88-1.546,4.656,4.706C-1.571,10.96-1.548,21.076,4.705,27.3   c6.256,6.226,16.374,6.203,22.597-0.051C33.526,20.995,33.505,10.878,27.25,4.655z" />
                  <path style="fill:#bababa;"
                    d="M13.288,23.896l-1.768,5.207c2.567,0.829,5.331,0.886,7.926,0.17l-0.665-5.416   C17.01,24.487,15.067,24.5,13.288,23.896z M8.12,13.122l-5.645-0.859c-0.741,2.666-0.666,5.514,0.225,8.143l5.491-1.375   C7.452,17.138,7.426,15.029,8.12,13.122z M28.763,11.333l-4.965,1.675c0.798,2.106,0.716,4.468-0.247,6.522l5.351,0.672   C29.827,17.319,29.78,14.193,28.763,11.333z M11.394,2.883l1.018,5.528c2.027-0.954,4.356-1.05,6.442-0.288l1.583-5.137   C17.523,1.94,14.328,1.906,11.394,2.883z" />
                  <circle style="fill:#bababa;" cx="15.979" cy="15.977" r="6.117" />
                </g>
              </svg>
            </span>
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                id="Capa_1" x="0px" y="0px" viewBox="0 0 31.955 31.955" style="enable-background:new 0 0 31.955 31.955;"
                xml:space="preserve">
                <g>
                  <path style="fill:#bababa;"
                    d="M27.25,4.655C20.996-1.571,10.88-1.546,4.656,4.706C-1.571,10.96-1.548,21.076,4.705,27.3   c6.256,6.226,16.374,6.203,22.597-0.051C33.526,20.995,33.505,10.878,27.25,4.655z" />
                  <path style="fill:#bababa;"
                    d="M13.288,23.896l-1.768,5.207c2.567,0.829,5.331,0.886,7.926,0.17l-0.665-5.416   C17.01,24.487,15.067,24.5,13.288,23.896z M8.12,13.122l-5.645-0.859c-0.741,2.666-0.666,5.514,0.225,8.143l5.491-1.375   C7.452,17.138,7.426,15.029,8.12,13.122z M28.763,11.333l-4.965,1.675c0.798,2.106,0.716,4.468-0.247,6.522l5.351,0.672   C29.827,17.319,29.78,14.193,28.763,11.333z M11.394,2.883l1.018,5.528c2.027-0.954,4.356-1.05,6.442-0.288l1.583-5.137   C17.523,1.94,14.328,1.906,11.394,2.883z" />
                  <circle style="fill:#bababa;" cx="15.979" cy="15.977" r="6.117" />
                </g>
              </svg>
            </span>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>


<!--
<div class="justify-center w-full h-full">
  <div
    class="relative w-full min-h-full px-3 pt-10 rounded h-100 lg:w-3/4 lg:px-5 scrollable-container typebot-chat-view">
    <section *ngIf="loader">
      <div class="loading loading04">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" viewBox="0 0 31.955 31.955" style="enable-background:new 0 0 31.955 31.955;"
            xml:space="preserve">
            <g>
              <path style="fill:#bababa;"
                d="M27.25,4.655C20.996-1.571,10.88-1.546,4.656,4.706C-1.571,10.96-1.548,21.076,4.705,27.3   c6.256,6.226,16.374,6.203,22.597-0.051C33.526,20.995,33.505,10.878,27.25,4.655z" />
              <path style="fill:#bababa;"
                d="M13.288,23.896l-1.768,5.207c2.567,0.829,5.331,0.886,7.926,0.17l-0.665-5.416   C17.01,24.487,15.067,24.5,13.288,23.896z M8.12,13.122l-5.645-0.859c-0.741,2.666-0.666,5.514,0.225,8.143l5.491-1.375   C7.452,17.138,7.426,15.029,8.12,13.122z M28.763,11.333l-4.965,1.675c0.798,2.106,0.716,4.468-0.247,6.522l5.351,0.672   C29.827,17.319,29.78,14.193,28.763,11.333z M11.394,2.883l1.018,5.528c2.027-0.954,4.356-1.05,6.442-0.288l1.583-5.137   C17.523,1.94,14.328,1.906,11.394,2.883z" />
              <circle style="fill:#bababa;" cx="15.979" cy="15.977" r="6.117" />
            </g>
          </svg>
        </span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" viewBox="0 0 31.955 31.955" style="enable-background:new 0 0 31.955 31.955;"
            xml:space="preserve">
            <g>
              <path style="fill:#bababa;"
                d="M27.25,4.655C20.996-1.571,10.88-1.546,4.656,4.706C-1.571,10.96-1.548,21.076,4.705,27.3   c6.256,6.226,16.374,6.203,22.597-0.051C33.526,20.995,33.505,10.878,27.25,4.655z" />
              <path style="fill:#bababa;"
                d="M13.288,23.896l-1.768,5.207c2.567,0.829,5.331,0.886,7.926,0.17l-0.665-5.416   C17.01,24.487,15.067,24.5,13.288,23.896z M8.12,13.122l-5.645-0.859c-0.741,2.666-0.666,5.514,0.225,8.143l5.491-1.375   C7.452,17.138,7.426,15.029,8.12,13.122z M28.763,11.333l-4.965,1.675c0.798,2.106,0.716,4.468-0.247,6.522l5.351,0.672   C29.827,17.319,29.78,14.193,28.763,11.333z M11.394,2.883l1.018,5.528c2.027-0.954,4.356-1.05,6.442-0.288l1.583-5.137   C17.523,1.94,14.328,1.906,11.394,2.883z" />
              <circle style="fill:#bababa;" cx="15.979" cy="15.977" r="6.117" />
            </g>
          </svg>
        </span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
            x="0px" y="0px" viewBox="0 0 31.955 31.955" style="enable-background:new 0 0 31.955 31.955;"
            xml:space="preserve">
            <g>
              <path style="fill:#bababa;"
                d="M27.25,4.655C20.996-1.571,10.88-1.546,4.656,4.706C-1.571,10.96-1.548,21.076,4.705,27.3   c6.256,6.226,16.374,6.203,22.597-0.051C33.526,20.995,33.505,10.878,27.25,4.655z" />
              <path style="fill:#bababa;"
                d="M13.288,23.896l-1.768,5.207c2.567,0.829,5.331,0.886,7.926,0.17l-0.665-5.416   C17.01,24.487,15.067,24.5,13.288,23.896z M8.12,13.122l-5.645-0.859c-0.741,2.666-0.666,5.514,0.225,8.143l5.491-1.375   C7.452,17.138,7.426,15.029,8.12,13.122z M28.763,11.333l-4.965,1.675c0.798,2.106,0.716,4.468-0.247,6.522l5.351,0.672   C29.827,17.319,29.78,14.193,28.763,11.333z M11.394,2.883l1.018,5.528c2.027-0.954,4.356-1.05,6.442-0.288l1.583-5.137   C17.523,1.94,14.328,1.906,11.394,2.883z" />
              <circle style="fill:#bababa;" cx="15.979" cy="15.977" r="6.117" />
            </g>
          </svg>
        </span>
      </div>
    </section>
  </div>
</div> -->
