.wrapper{width:1000px;}

.header-btn {width: 490px;float: right;text-align: center;}
.header a {
    float: left;
    margin: 15px 0 0 22px;
}
header.container.mx-auto.header {width: 900px;margin-top: 26px;}

.header-btn button {/* width: 210px; */border-radius: 4px; /* outline: 2px solid transparent; */ outline-offset: 2px; line-height: 1.2; border: 1px solid #e5e7eb; text-align: center; padding: 9px 17px; /* width: 330px; */ margin-top: 0.5rem;/* border: 1px solid #333; */margin: 0 5px;}

span.b-icon svg {display: inline-block;margin-right: 11px;}

.four-boxes button {border-radius: 4px;
    outline-offset: 2px;
    line-height: 1.2;
    border: 1px solid #e5e7eb;
    text-align: center;
    padding: 9px 17px;
    
    margin: 0;}

.four-boxes button svg {display: inline-block;margin-right: 5px;}

.four-boxes button span {background: #ffd7ae;padding: 1px 7px;font-size: 14px;border-radius: 5px;font-weight: 500;}

.header {overflow: hidden;margin: 43px 0 18px;}
.btn-h span {
    margin: 0 65px 0 59px;
} 
.btn-h {
    margin-top: 15px;
}
.col {border: 1px solid #e5e7eb;text-align: center;min-height: 250px;padding: 15px 0;    border-radius: 6px}
.col:first-child {
    padding: 0;
}
.col span {background: #0042da;width: 40px;display: inline-block;color: #fff;font-size: 14px;padding: 1px 0;position: relative;top: -2px;}

.col button:last-child {border: 1px solid #e5e7eb;padding: 5px;border-radius: 5px;}

.col button:last-child svg {stroke: #111;}

.col button:first-child svg {stroke: #0042da;}
.col .c-svg {margin: 45px auto 0;width: 35px;height: 35px;}

.col h2 {font-size: 17px;font-weight: 600;color: #222;margin-top: 8px;}
.c-n{
    background: #0042da;
    width: 100%;
    margin: 0;
    height: 100%;
    border-radius: 6px
}
button.c-n:hover {
    background: #0036b4;
}
.c-n svg {
    stroke: #fff !important;
    margin-top: 0 !important; 
}
.c-n h2 {
    color: #fff;
    
}
    border-radius: 6px