<div class="flex items-center gap-4 mt-6 mb-4 input-field">
  <label class="block mb-1 text-base font-medium text-gray-700 dark:text-gray-300">
    {{data.label}}:</label>
  <div class="flex items-center w-full">
    <input type="number" class="block w-full h-10 p-2 text-sm text-gray-700 border border-gray-300 rounded-lg bg-gray-50
      placeholder:text-gray-400 placeholder:font-normal placeholder:text-base
      focus:outline-[#7ea6ff] focus:shadow-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
      dark:text-white " [value]="data.value" (blur)="eventHandler($event)">
  </div>
</div>
