<!-- <app-text-field label="Placeholder" value="type your input..." (updateObjectValue)="updateObject($event, 'Placeholder')"></app-text-field> -->
<div *ngFor="let field of fields; let i = index">
  <app-radio-field *ngIf="field.type === 'radio'" [label]="field.label" [value]="field.value" (updateObjectValue)="updateObject($event, field.key)"></app-radio-field>
  <app-text-field *ngIf="field.type === 'text_input'" [label]="field.label" [value]="field.value" (updateObjectValue)="updateObject($event, field.key)"></app-text-field>
  <app-number-field *ngIf="field.type === 'number_input'" [label]="field.label" [value]="field.value" (updateObjectValue)="updateObject($event, field.key)"></app-number-field>
</div>

<!-- <div class="save-answer">
  <label for="save-answer" class="block mb-1 text-base font-medium text-gray-700 dark:text-gray-300">
    Save answer in a variable:</label>
  <div class="flex items-center">
    <input type="text" id="save-answer" class="block w-full h-10 p-2 text-sm text-gray-700 border border-gray-300 rounded-lg bg-gray-50
      placeholder:text-gray-700 placeholder:font-medium placeholder:text-base
      focus:outline-[#7ea6ff] focus:shadow-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
      dark:text-white " placeholder="Select a variable" required>
  </div>
</div> -->
