<div class="mb-4 ">
  <div class="w-full">
    <input
      placeholder="Paste the video link..."
      type="text"
      class="block w-full h-10 p-2 text-sm text-gray-700 border border-gray-300 rounded-lg bg-gray-50
      placeholder:text-gray-500 placeholder:font-normal placeholder:text-base
      focus:outline-[#7ea6ff] focus:shadow-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
      dark:text-white "
    />
    <p class="text-gray-400 mt-4 text-sm text-center">Works with Youtube, Vimeo and others</p>
  </div>
</div>
